Oauth2.json
[
    {
        "id": "da3b1f952f75a5c8",
        "type": "subflow",
        "name": "Toodledo Oauth2",
        "info": "",
        "category": "FarmerEdsHelpers",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "995d9a5e7abba6eb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 140,
                "wires": [
                    {
                        "id": "50c2c4313fe0e001",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 140,
                "wires": [
                    {
                        "id": "20de9ca35f8d8c78",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "client_id",
                "type": "cred"
            },
            {
                "name": "client_secret",
                "type": "cred"
            }
        ],
        "meta": {},
        "credentials": {
            "client_id": "",
            "client_secret": ""
        },
        "color": "#FDF0C2"
    },
    {
        "id": "7c358c0122658acb",
        "type": "http request",
        "z": "da3b1f952f75a5c8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "eba7fa13e8c40b54"
            ]
        ]
    },
    {
        "id": "7da15cf59c3ae92c",
        "type": "function",
        "z": "da3b1f952f75a5c8",
        "name": "authorization_code",
        "func": "var code = msg.payload.code;\nvar client_id = env.get(\"client_id\");\n\n\nmsg.url = \"https://api.toodledo.com/3/account/token.php\";\n\nmsg.payload ={\n            \"grant_type\": \"authorization_code\",\n            \"code\": code\n        \n        }\n\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "7c358c0122658acb"
            ]
        ]
    },
    {
        "id": "3f9e3e09.472d92",
        "type": "change",
        "z": "da3b1f952f75a5c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": 'Basic ' & $base64encode(\t       $env('client_id') & ':' & $env('client_secret')\t   ) \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "7da15cf59c3ae92c"
            ]
        ]
    },
    {
        "id": "20de9ca35f8d8c78",
        "type": "function",
        "z": "da3b1f952f75a5c8",
        "name": "Generate  URL",
        "func": "var client_id = env.get(\"client_id\");\nmsg.payload = \"https://api.toodledo.com/3/account/authorize.php?response_type=code&client_id=\" + client_id +\"&state=YourState&scope=basic%20tasks\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "995d9a5e7abba6eb",
        "type": "switch",
        "z": "da3b1f952f75a5c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "code",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "url",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3f9e3e09.472d92"
            ],
            [
                "20de9ca35f8d8c78"
            ]
        ]
    },
    {
        "id": "eba7fa13e8c40b54",
        "type": "function",
        "z": "da3b1f952f75a5c8",
        "name": "",
        "func": "var time;\nif (msg.payload.access_token) {\n    var token = msg.payload.access_token;\n    var refresh = msg.payload.refresh_token;\n    global.set('toodledo_token', token);\n    global.set('toodledo_refresh', refresh);\n    time = new Date();\n    msg.bearer = msg.payload;\n    msg.payload = \"Access Granted \" + time;\n} else {\n    msg.error = msg.payload;\n    msg.payload = msg.error.error;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "50c2c4313fe0e001"
            ]
        ]
    },
    {
        "id": "50c2c4313fe0e001",
        "type": "change",
        "z": "da3b1f952f75a5c8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "42bfb20691cc64c2",
        "type": "subflow",
        "name": "Redirect URI",
        "info": "",
        "category": "FarmerEdsHelpers",
        "in": [],
        "out": [
            {
                "x": 440,
                "y": 80,
                "wires": [
                    {
                        "id": "159f3ca2af801824",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Endpoint",
                "type": "str",
                "value": ""
            },
            {
                "name": "Dashboard",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#FDF0C2"
    },
    {
        "id": "159f3ca2af801824",
        "type": "http in",
        "z": "42bfb20691cc64c2",
        "name": "",
        "url": "${Endpoint}",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "56adcc11b410896b"
            ]
        ]
    },
    {
        "id": "56adcc11b410896b",
        "type": "switch",
        "z": "42bfb20691cc64c2",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "6f53db0a275db0db"
            ],
            [
                "a048c79e52d2a379"
            ]
        ]
    },
    {
        "id": "6f53db0a275db0db",
        "type": "change",
        "z": "42bfb20691cc64c2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Dashboard",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "458611c76410b654"
            ]
        ]
    },
    {
        "id": "a048c79e52d2a379",
        "type": "change",
        "z": "42bfb20691cc64c2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Dashboard",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "4fdb82202b7c3a84"
            ]
        ]
    },
    {
        "id": "458611c76410b654",
        "type": "template",
        "z": "42bfb20691cc64c2",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <style>\n.button {\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n\n.button2 {background-color: #008CBA;} /* Blue */\n</style>\n    </head>\n    <body>\n        <h1>Access Granted</h1>\n       <a href=\"{{payload}}\" target=\"_parent\"><button class=\"button button2\">Continue</button></a>\n    </body>\n</html>",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "2960ec06ca8c91a1"
            ]
        ]
    },
    {
        "id": "4fdb82202b7c3a84",
        "type": "template",
        "z": "42bfb20691cc64c2",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <style>\n.button {\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n\n.button2 {background-color: #008CBA;} /* Blue */\n</style>\n    </head>\n    <body>\n        <h1>Authorization Error</h1>\n        <a href=\"{{payload}}\" target=\"_parent\"><button class=\"button button2\">Return</button></a>\n    </body>\n</html>",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "2960ec06ca8c91a1"
            ]
        ]
    },
    {
        "id": "2960ec06ca8c91a1",
        "type": "http response",
        "z": "42bfb20691cc64c2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c892ede51b0581a",
        "type": "subflow:42bfb20691cc64c2",
        "z": "7618dde0dda10917",
        "name": "",
        "env": [
            {
                "name": "Endpoint",
                "value": "toodledo",
                "type": "str"
            },
            {
                "name": "Dashboard",
                "value": "ui",
                "type": "str"
            }
        ],
        "x": 190,
        "y": 240,
        "wires": [
            [
                "6d83ab8d82807350"
            ]
        ]
    },
    {
        "id": "6d83ab8d82807350",
        "type": "subflow:da3b1f952f75a5c8",
        "z": "7618dde0dda10917",
        "name": "",
        "env": [
            {
                "name": "client_id",
                "type": "cred"
            },
            {
                "name": "client_secret",
                "type": "cred"
            }
        ],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "10fa6bb20511b3cc",
                "e181c14f8427fc5b"
            ],
            [
                "e76f0a78c5cfe8d7",
                "bc8d90eafb2a0e05"
            ]
        ]
    },
    {
        "id": "664aa972be0b8692",
        "type": "ui_button",
        "z": "7618dde0dda10917",
        "name": "",
        "group": "1534253e2683aa37",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toodledo Oauth2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "url",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "6d83ab8d82807350"
            ]
        ]
    },
    {
        "id": "10fa6bb20511b3cc",
        "type": "debug",
        "z": "7618dde0dda10917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "e76f0a78c5cfe8d7",
        "type": "debug",
        "z": "7618dde0dda10917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "bc8d90eafb2a0e05",
        "type": "ui_template",
        "z": "7618dde0dda10917",
        "group": "1534253e2683aa37",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data.includes(\"account/authorize.php\")) {\n          window.location.href = data;\n        } \n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e181c14f8427fc5b",
        "type": "debug",
        "z": "7618dde0dda10917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "bearer",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "1534253e2683aa37",
        "type": "ui_group",
        "name": "Default",
        "tab": "d77928d4486a32b1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77928d4486a32b1",
        "type": "ui_tab",
        "name": "Toodledo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
